body{
    background-color: #000;
    color: #FFF;
    font-family: 'Share Tech Mono','sans-serif';
    width: fit-content;
    height: fit-content;
}

/*--------- navbar--------- */
.container-fluid{
    padding: 0;
}
 .nav{
    background-color: #000;
    width: 100%;
    padding: min(200px, 2vh);
    
}


.cortex{
    padding: 1% 2%;
    font-size: 1.5em;
    margin: 0;
    text-decoration: none;
    color: #FFF;
}
.cortex:hover{
    color: #E13131;
}

.twitter{
    margin: 2% 5%;
    font-size: 1.1em;
}
a{
    text-decoration: none;
    color: #FFF;
}
a:hover{
    color: #E13131;
}
.about{
    margin: 2% 5%;
    font-size: 1.1em;
} 

/* -----------Tagline and logo-------- */


#tag-logo{
    text-align: center;
}



/* ----------Article-lists---------- */

#article-lists{
    padding: 2% 10%;    
}